body {
    background-color: #d1d8d8;
    font-family: Arial;
    margin: 100px;
    line-height: 1.6;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 36px;
    border: solid #000000;
}

h2 {
    text-align: center;
    color: black;
    border-bottom: 2px dotted #000000;
}

.destacado {
    background-color: rgb(131, 202, 202);
}

#subrayado {
    text-decoration: underline;
}

div {
    margin: 10px;
    padding: 10px;
}